{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Menu</h1>
<!--Begin col-->
<div class="column">
   <!-- Step 14: Create for loop -->
    {% for item in menu %}
   <p>
      <!-- Step 14: Add DTL variable for name -->
        <span class="menu_item"><a href="{% url 'menu_item' pk=item.pk %}">
{{ item.name }}
</a></span>
             <!-- Step 14: Add DTL variable for description -->
      <span class="menu_price">${{ item.price }}.00</span>
         <!-- Step 14: Add DTL variable for price --> 

   </p>
   <!-- Step 14: End or loop -->
    {% endfor %}
</div>
<!--End col-->
{% endblock %}
